* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    border-style: none;
    font-family: Unbounded;
    transition: 0.5s;
}

.max {
    max-width: 1400px;
    margin: 0 auto;
}

@font-face {
    font-family: Unbounded;
    src: url(../fonts/static/Unbounded-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Unbounded-Bold;
    src: url(../fonts/static/Unbounded-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Unbounded-Medium;
    src: url(../fonts/static/Unbounded-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Unbounded-Light;
    src: url(../fonts/static/Unbounded-Light.ttf);
    font-weight: 300;
}

/* Начало шапки */

header {
    background-color: #283618;
}

nav a {
    color: #FEFAE0;
    font-size: 20px;
    font-family: Unbounded-Light;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 10px 0px;
}


.logo {
    width: 100px;
    height: 80px;
}


.cart {
    width: 50px;
}

.cart:hover {
    transform: scale(1.2);
}

/* Начало баннера */

.banner {
    background-image: url(../media/ban/ban.jpg);
    height: 80vh;
    background-repeat: no-repeat;
}



.ban_name {
    padding-top: 300px;
    font-family: Unbounded-Bold;
    font-size: 64px;
}

.ban_text {
    padding-top: 10px;
    font-family: Unbounded-Medium;
    font-size: 24px;
    padding-bottom: 50px;
    color: #000000;
}

.ban_btn {
    width: 450px;
    height: 80px;
    background-color: #283618;
    box-shadow: #FEFAE0 3px 3px;
}

.ban_btn a {
    color: #FEFAE0;
    font-size: 20px;
    font-family: Unbounded-Light;
}

.ban_btn:hover {
    background-color: #333333;
}

/* Популярные товары */

.name_pop {
    font-size: 36px;
    text-align: center;
    font-family: Unbounded;
    padding-top: 120px;
    padding-bottom: 60px;
}

.slider {
    position: relative;
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    transition: transform 0.5s ease;
}

.slider-container {
    overflow: hidden;

}

.current {
    z-index: 1;

}

.cartochka {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    padding: 0px 100px;
}


.flex {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}


.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #283618;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}


.cart_text {
    padding-top: 20px;
    font-size: 20px;
    font-family: Unbounded-Light;
    padding-bottom: 10px;
}

.cart_text_2 {
    background-color: red;
    color: white;
    width: 80px;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    border-radius: 20px;
}

.cost {
    font-family: Unbounded-Bold;
    font-size: 20px;
    padding-top: 10px;
}

.sale {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.last_cost {
    opacity: 0.6;
    text-decoration: line-through;
    font-family: Unbounded-Light;
}

.foto {
    width: 260px;
    height: 345px;
    border-radius: 5px;
}

/* подвал */

footer {
    background-color: #283618;
}

.nav_2 a {
    color: #FEFAE0;
    font-size: 20px;
    font-family: Unbounded-Light;
}

.nav_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.nav_flex {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

/* каталог */

.cat_name {
    font-size: 36px;
    text-align: center;
    font-family: Unbounded-Bold;
    padding-top: 120px;
    padding-bottom: 60px;
}

.cat {
    display: flex;
    justify-content: start;
    gap: 100px;
    width: 1400px;
    position: relative;
}

.cat_flex_1 {
    padding-bottom: 100px;
}

.filtr {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: sticky;
    top: 50;
}


.filtr_a {
    color: #333333;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Unbounded-Light;
}

.active {
    color: #283618;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Unbounded-Light;
    text-decoration: underline;
}

.catalog {
    position: relative;
}

.filtr p {
    color: #333333;
    padding-bottom: 20px;
    font-size: 32px;
    font-family: Unbounded-Bold;
}

.cat_btn {
    background-color: #283618;
    color: #FEFAE0;
    width: 260px;
    height: 50px;
    border-radius: 5px;
}

.cat_btn:hover {
    background-color: #333333;
}

.clothes_name {
    padding-top: 10px;
    color: #333333;
    font-size: 20px;
    padding-bottom: 5px;
    width: 260px;
}

.cost_2 {
    font-family: Unbounded-Bold;
    font-size: 20px;
    padding-bottom: 20px;
}

.size_flex {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-bottom: 10px;
}

.size_select {
    width: 50px;
    height: 50px;
    background-color: #333333;
    color: #FEFAE0;
    border-radius: 5px;
    font-size: 16px;
}

.size_btn {
    width: 50px;
    height: 50px;
    color: #333333;
    border-radius: 5px;
    font-size: 16px;
}

.size_btn:hover {
    background-color: #333333;
    color: #FEFAE0;
}

.cat_flex_1 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}


/* контакты */

.name_cont {
    font-size: 36px;
    text-align: center;
    font-family: Unbounded-Bold;
    padding-top: 120px;
    padding-bottom: 60px;

}

.clock_name {
    font-size: 24px;
    font-family: Unbounded-Bold;
    padding-bottom: 15px;
}

.time {
    padding-bottom: 5px;
}

.cont_flex_1 {
    display: flex;
    flex-direction: column;
}

/* новинки */

.nov_name {
    font-size: 36px;
    text-align: center;
    font-family: Unbounded-Bold;
    padding-top: 120px;
    padding-bottom: 60px;
}

.cont {
    display: flex;
    justify-content: space-between;
}

.time {
    color: #000000;
    font-size: 18px;
}

.cont_flex_1 a {
    font-size: 18px;
    color: #000000;
}

.address {
    font-size: 20px;
    padding-top: 10px;
}

.pt10 {
    padding-top: 10px;
}

.nov_1 img {
    width: 800px;
    border-radius: 5px;
}

.nov_1 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding-bottom: 70px;
}

.nov_text {
    font-size: 28px;
    padding-bottom: 50px;
    width: 400px;
    text-align: center;
}

.nov_btn {
    width: 400px;
    height: 80px;
    font-size: 20px;
    background-color: #283618;
    color: #FFF;
    border-radius: 5px;
}

.pb100 {
    padding-bottom: 100px;
}

.nav_flex a:hover {
    transform: scale(1.1);
}